
<p>newone works!</p>
<h1>Output of Newone</h1>
<h2> I want a border wall</h2>

<button mat-raised-button color="warn">FANCY!</button>
<button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
    <mat-icon>home</mat-icon>
</button>

<p *ngIf="val && val1; then updated; else val2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, sapiente ex voluptates, pariatur praesentium ullam temporibus laudantium ipsam, aut a nulla ad dolores reprehenderit dicta optio provident hic consectetur magnam!</p>

<ul>
    <li *ngFor = "let key of obj; index as i; first as f; last as el; even as e; odd as o;">
        <div style="background-color: aqua;" *ngIf="e">
            {{i}}:: key: {{key.rollnum}}, name: {{key.name}}, date: {{key.date}}
        </div>
        <div style="background-color: burlywood;" *ngIf="o">
            {{i}}:: key: {{key.rollnum}}, name: {{key.name}}, date: {{key.date}}
        </div>
    </li>
</ul>

<ul>
    <li *ngFor = "let key of obj; index as i; first as f; last as el; even as e; odd as o;">
        <h2 *ngIf="f">
            Massive Hello at the Start
        </h2>
        <p style="background-color: aqua;" *ngIf="e">
            {{i}}:: key: {{key.rollnum}}, name: {{key.name}}, date: {{key.date}}
        </p>
        <p style="background-color: burlywood;" *ngIf="o">
            {{i}}:: key: {{key.rollnum}}, name: {{key.name}}, date: {{key.date}}
        </p>
        <h2 *ngIf="el">
            Massive Goodbye at the End
        </h2>
    </li>
</ul>


<div [ngSwitch]="game">
    <div *ngSwitchCase = "'cricket'">
        Playing Cricket
    </div>
    <div *ngSwitchCase = "'soccer'">
        Player Soccer
    </div>
    <div *ngSwitchCase = "'basketball'">
        Playing Basketball
    </div>
    <div *ngSwitchCase = "'tennis'">
        Playing Tennis
    </div>
    <div *ngSwitchCase = "'dance'">
        Playing Dances
    </div>
    <div *ngSwitchCase = "'fooooootball'">
        Playing American Football
    </div>
    <div *ngSwitchDefault>
        What are games?
    </div>
</div>

<span [ngStyle]="{'color':color, 'background-color':backColor, 'display':'block', 'padding':padding, 'margin':margin, 'border':border}">
    Change my Colour Dynamically
</span>

<p [ngStyle]="{'color': color=='red' ? 'red' : 'orange'}">
    Change my Colour with Ternary
</p>

<p [ngClass]="ternaryClass == 2 ? classValue : classValue2">
    Change my style with ngClass
</p>

<p [ngClass]="{b:true,d: true, a:false}">
    Change my style with object???!
</p>

<p [ngClass] ="callMe()">
    Change style by calling a FUNCTION?!
</p>

<p>
    {{classValue}}
</p>

<h1>Table</h1>

<table>
    <tr [title] = "'heading row'">
        <th>
            index
        </th>
        <th>
            rollnum
        </th>
        <th [attr.colspan]="num">
            Name
        </th>
        
    </tr>
    <tr *ngFor = "let key of obj; index as i; first as f; last as el; even as e; odd as o;">
        <td>
            {{i}}
        </td>
        <td>
            {{key.rollnum}}
        </td>
        <td>
            {{key.name}}
        </td>
        <td>
            {{key.date}}
        </td>
        
    </tr>
</table>

<h3 [innerHTML]="border">Change this innerhtml</h3>

<img [src]="imgsrc" [alt]="alttext">

<h2 [style.color]="color">This is a style binding</h2>

<p [style]="multiStyleObj">This is a multi-style binding</p>

<p [attr.title]="'title'"> This is attribute binding</p>

<!-- <button (click)="clickMe()">Click For event bindings</button>
<button (mouseover)="clickMe()">Mouseover For event bindings</button>
<input type="text" (keyup)="clickMe2(2,3,4)"> -->

<input type="text" [(ngModel)]="game" name="" id="">
<span>{{game}}</span>
<br><br>
<input type="number" name="" id="" [(ngModel)]="num">
<p *ngIf="num>10" style="color:red;">This Num = {{num}} is >10</p>

<br><br>
<h3>Here lay the pipes</h3>
<p>{{game | uppercase}}</p>
<p>{{upperString | lowercase}}</p>
<p> Normal Date: {{aDate | date}}</p>
<p> "Long" Parameter: {{aDate | date : "long"}}</p>
<p> Chained Lowercase "Long" Pipe: {{aDate | date : "long" | lowercase}}</p>
<p> "Medium" Parameter: {{aDate | date : "medium"}}</p>
<p> "Short" Parameter: {{aDate | date : "short"}}</p>
<p> "GGGG" Parameter: {{aDate | date : "GGGG"}}</p>
<p> "dd/MMM/YYYY" Parameter: {{aDate | date : "dd/MMM/YYYY"}}</p>
<p>{{num | currency}}</p>
<p>{{num | percent}}</p>
<p>{{bigPercent | percent : "2.6"}}</p>
<p>{{bigPercent | percent : "10.1-2"}}</p>
<p>
    Indian Currency: {{num | currency : "INR"}} <br>
    Euro : {{num | currency: "EUR"}} <br>
    Canadian? : {{num | currency : "CAD"}}
</p>
<p>Without Pipe: {{obj2}}</p>
<p>With JSON Pipe: {{obj2 | json}}</p>
<p>With JSON Pipe: {{obj2 | json | uppercase}}</p>



<ng-template #val2>
    <h2>replaced my p</h2>
</ng-template>

<ng-template #updated>
    This is an update. Please message Update.
</ng-template>

<br><br>End of File for newone.component.html<br><br>


