h1 {
    color: blue;
    text-align: center;
    font-size: 40px;
}

button {
    height: 30px;
    background-color: yellowgreen;
    padding: 0 9.2%;
    
    margin-top:75;
}

button:hover{
    background-color: yellow;
}



.navbar{
    border: solid;
    height:90px;
    background-color: yellowgreen;
    position: relative;
}

router-outlet{
    display: block;
}